{% extends 'root.html' %}

{% block title %}
    Login
{% endblock title %}

{% block doc %}
<section class="h-80 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <form action="{% url 'user:login' %}" method="post">
                    <p>Please login to your account</p>
  
                    {{form.as_p}}

                    <div class="pt-1 mb-5 pb-1">
                        <p style="display: inline;">
                            Don't have an account :
                        </p>
                        <a class="text-muted" href="{% url 'user:register' %}">
                            Register
                        </a>
                    </div>

                    {% csrf_token %}
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                        <input type="submit" value="submit">
                    </div>
  
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock doc %}
